body{
    margin: 0;
    user-select: none;
    border: 0;
}

/*Navigation bar*/
.myNav{
    position:fixed;
    z-index: 100;
    width: 100vw;
    background-color: white;
    border-bottom: 1px solid #000000;
}

.navbar-toggler{
    border: 0;
}

.navbar-collapse{
    text-align: center;
}
/*Navigation bar*/

/*Landing Page*/
.landingParent{
    height:100vh;
    width:100vw;

    display: flex;
}

.myImg{
    filter: grayscale(1);
    transition: 1s;
}
.myImg:hover{
    filter: grayscale(0);
}

@media(orientation:landscape){
    .landingChild{
        height:100vh;   
    }  

    .landingChildLeft{
        width:40vw;
        border-right: 1px solid #000000;
        /* background-color: aqua; */

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lclgChild{
        width:100%;
        height: 40vh;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .landingChildRight{
        width:60vw;
        height:100vh;
    }

    .myImg{
        height:80%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media(orientation:portrait){
    .landingParent{
        flex-direction: column;
    }

    .landingChild{
        height:50vh;
        width:100vw;
    }
    
    .landingChildUp{
        /* background-color: aqua; */
        display: flex;
        align-items: center;
    }
    .lclgChild{
        width: 100%;
        height:50%;
    }

    .myImg{
        height:50%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
/*Landing Page*/

/*My Expertise*/
.experienceDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    /* background-color: #00ff7f; */

}
.expOptionHeading{
    width:90vw;
    display: flex;
    text-align: center;
    padding: 5px;
}
.expParent{
    display: flex;
    border: 1px solid #000000;
    width:90vw;
    margin-bottom: 50px;
}
.expChildButtonHolder{
    border-right: 1px solid #000000;
    border-radius: 0px;
}
.expButton{
    flex-grow: 1;
    /* background-color: #00ff7f; */
    font-weight: bold;
}

@media(orientation:landscape){
    #opt1{
        width: 40%;
    }
    #opt2{
        width: 60%;
    }
    .expChildButtonHolder{
        width: 40%;
    }
    .expChildExpHolder{
        width:60%;
    }
}

@media(orientation:portrait){
    #opt1{
        width: 30%;
    }
    #opt2{
        width: 70%;
    }
    .expChildButtonHolder{
        width: 30%;
    }  
    .expChildExpHolder{
        width:70%;
    }
} 
/*My Expertise*/

/*Projects Section*/
/* .projectParent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
    overflow: hidden;
}
.projectHolderDivMain{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projItem{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.card{
    border-radius: 0;
}
.projButton{
    border-radius: 0;
    border: 1px solid #000000;
} */
/*Projects Section*/

/*Youtube Section*/
.youtubeParentDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.youtubeHolder{
    display: flex;
    flex-direction: column;
    width:90%;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;

}

.youtubeChildDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
}

.youtubeTextDiv{
    margin-top: 20px;
    flex-direction: column;

}
.youtubeTextDivHead, .youtubeTextDivBody{
    border: 1px solid #000000;
    width:100%;
}
.youtubeTextDivHead{
    background-color: #000000;
    text-align: center;
}
.youtubeTextDivBody{
    text-align: justify;
    padding: 10px;
}

.codeayanLogo{
    width:30%;
    height:30%;
    padding:20px;
    border-radius: 100%;
    border: 1px solid #000000;

    animation: spin 4s linear infinite;
}
@keyframes spin{
    to{
        transform:rotate(360deg);
    }
}

/* @media(orientation:landscape){
    .youtubeChildDiv{
        width:50%;
        height:100%;
    }

    .youtubeTextDiv{
        align-items: flex-start;
    }
}

@media(orientation:portrait){
    .youtubeHolder{
        flex-direction: column;
        width:100%;
        height:50%;
    }
    .youtubeTextDivHead{
        margin-top:10px;
        text-align: center;
    }

    .youtubeTextDiv{
        align-items: center;
    }
} */
/*Youtube Section*/




/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  * {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  }






  

